.footer {
    margin-top: 32px;
}
.footer__login {
    font-size: 1.4rem;
    line-height: 22px;
    width: 168px;
}
.footer__login a {
    color: #3258FB;
    font-family: Public Sans, sans-serif;
    font-weight: 700;
}

@media (min-width: 1025px) {
    .footer {
        margin: 40px 5px 0 44px;
        align-self: flex-start;
    }
}